1. Splash Screen module (1 day)
2. Register and login module (2 days)
3. Personal profile module (3 days)
4.Home Module (2 days)
	4.1 Most Search
	4.2 Stars of app
5. Available Salons module (3 days)
6. Search module(5 days)
7.Payment module (7 days)
	7.1 Fawry payment
	7.2 Visa payment
8. Coupon module (2 days)
9- Make Reservation Module (6 days)
	9.1 location module
	9.2 Apply copun
10. Cancel Reservation module(2 days)
11. Notification (2 days)
12. Market Module (What is pending to arrive) (3 days)
13. Categories modules (1 day) 
14- Wallet (1day)
15. Favourite Module (1 day)
16. Details Module(1 day)
17. Customer services module (-)


1+2+3+2+3+5+7+2+6+2+2+3+1+1+1+1= 41 day

41*8=328hours
328*20 = 6500 L.E